@page "/bookpage"
@using BlazorAppRESTAPIAssignments.Client.Services
@using BlazorAppRESTAPIAssignments.Shared.Models
@using BlazorAppRESTAPIAssignments.Client.Shared
@rendermode InteractiveAuto // VIGTIG ved editform ellers sender den aldrig noget!!
@inject IBookService _bookService

<h1>Book Page</h1>

@foreach (var book in Books)
{
    <RenderBook BookModel="@book"></RenderBook>
}

<EditForm Model="@BookModel" OnValidSubmit="AddBookHandler" FormName="AddBookForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>ISBN</label>
        <InputText @bind-Value="BookModel.Isbn" />
        <ValidationMessage For="@(() => BookModel.Isbn)" />
    </div>

    <div>
        <label>Book Titel</label>
        <InputText @bind-Value="BookModel.Title" />
        <ValidationMessage For="@(() => BookModel.Title)" />
    </div>

    <div>
        <label>Author</label>
        <InputText @bind-Value="BookModel.Author" />
        <ValidationMessage For="@(() => BookModel.Author)" />
    </div>

    <div>
        <label>Year</label>
        <InputNumber @bind-Value="BookModel.Year" />
        <ValidationMessage For="@(() => BookModel.Year)" />
    </div>

    <button type="submit">Add Book</button>
</EditForm>

<p>ErrorCode: @ErrorCode</p>