@using BlazorApp.Models
<table style="border-collapse: collapse;">
    <tr>
        <td style="width: 30%; vertical-align: top; padding-right: 1em;">
            <img style="width: 15em; aspect-ratio: 1 / 1; object-fit: cover; object-position: center; display: block;" src="@ProfilePictures[PictureIndex]" />
        </td>
        <td style="vertical-align: top; padding-top: 1em;">
            <h2>@Answer.Name</h2>
            <p>Email: @Answer.Email</p>
            @if (Answer.IsComing == true)
            {
                <p>Deltager: jeg kommer!</p>
            }
            else
            {
                <p>Deltager: jeg kommer ikke!</p>
            }
            <p>PlusOnes: @Answer.Attendants</p>
            <p>Svartidspunkt: @Answer.AnswerTime.ToLongTimeString()</p>
        </td>
    </tr>
</table>

@code {
    [Parameter, EditorRequired]
    public InviteAnswer Answer { get; set; }

    [Parameter, EditorRequired]
    public int PictureIndex { get; set; }

    public string[] ProfilePictures = { "img/mette.png", "img/zelen.png" };
}
