@using Microsoft.AspNetCore.Components.Forms

<tr>
    <td style="@TextStyle">@Task.Name</td>
    <td>@Task.Time</td>
    <td class="action-cell">
        <button class="add-minute" @onclick="AddMinute">@AddButtonText</button>
        <button class="subtract-minute" @onclick="SubtractMinute">@SubtractButtonText</button>

        @if (_showAssignmentThree)
        {
            <button class="delete-minute" @onclick="DeleteTaskClicked">Delete task</button>
        }

        @if (_showAssignmentSix)
        {
            <p>New title: </p>
            <input @bind="@_newTaskTitel" style="margin-left: 10px;" placeholder="@Task.Name" />
            <button class="update-button" @onclick="UpdateTaskTitel">Update tasktitel</button>
        }
    </td>
</tr>